<div class="faq-page">
    <div class="faq-page__container">
        <div class="faq-page__content">
            <div class="faq-page__title">
                <h3>Вопросы и ответы</h3>
            </div>
            <div class="faq-page__group">
                <div class="faq-page__group-item">
                    <div class="icon"></div>
                    <div class="faq-page__group-text">
                        <span>Какие формы может принимать домашнее насилие?</span>
                        <button>
                            <div class="icon"></div>
                            Читать
                        </button>
                    </div>
                </div>
                <div class="faq-page__group-item">
                    <div class="icon"></div>
                    <div class="faq-page__group-text">
                        <span>Что делать в случае бытового насилия?</span>
                        <button>
                            <div class="icon"></div>
                            Читать
                        </button>
                    </div>
                </div>
                <div class="faq-page__group-item">
                    <div class="icon"></div>
                    <div class="faq-page__group-text">
                        <span>Что делать, если абьюзером оказался я?</span>
                        <button>
                            <div class="icon"></div>
                            Читать
                        </button>
                    </div>
                </div>
                <div class="faq-page__group-item">
                    <div class="icon"></div>
                    <div class="faq-page__group-text">
                        <span>Как понять, что мне нужна помощь?</span>
                        <button>
                            <div class="icon"></div>
                            Читать
                        </button>
                    </div>
                </div>
                <div class="faq-page__group-item">
                    <div class="icon"></div>
                    <div class="faq-page__group-text">
                        <span>Как с нами связаться?</span>
                        <button>
                            <div class="icon"></div>
                            Читать
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>