<div class="contact-us">
    <div class="contact-us__container">
        <div class="contact-us__content">
            <div class="contact-us__content-title">
                <h2>Связаться с нами</h2>
            </div>
            <div class="contact-us__content-group">
                <div class="contact-us__form">
                    <form action="" method="post">
                        <div class="contact-us__form-item">
                            <label for=""></label>
                            <input type="text">
                        </div>
                        <div class="contact-us__form-item">
                            <label for=""></label>
                            <input type="text">
                        </div>
                        <div class="contact-us__form-item">
                            <label for=""></label>
                            <input type="text">
                        </div>
                        <div class="contact-us__form-item">
                            <button type="submit"><div class="icon"></div>Отправить</button>
                        </div>
                    </form>
                </div>
                <div class="contact-us__contacts">
                    <div class="contact-us__contacts-content">
                        <span>Свяжитесь с нами, чтобы получить помощь или задать вопросы.</span>
                        <div>
                            <span><div class="icon"></div>Горячая линия: <a href="tel:150">150</a></span>
                            <span><div class="icon"></div>Колл-центр: <a href="tel:1307">1307</a></span>
                            <span><div class="icon"></div>Наш номер: <a href="tel:+77273916250">+7 727 391 6250</a></span>
                        </div>
                        <span>Мы есть в социальных сетях</span>
                        <div>
                            <a href=""><div class="icon"></div></a>
                            <a href=""><div class="icon"></div></a>
                            <a href=""><div class="icon"></div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>