<div class="faq">
    <div class="faq__container">
        <div class="faq__content">
            <div class="faq__content-title">
                <h2>FAQ</h2>
                <a href="#"><div class="icon"></div>Все FAQ</a>
            </div>
            <div class="faq__content-group">
                <div>
                    <div class="icon"></div>
                    <span>Какие формы может принимать домашнее насилие?</span>
                </div>
                <div>
                    <div class="icon"></div>
                    <span>Что делать если вы в данной ситуации?</span>
                </div>
                <div>
                    <div class="icon"></div>
                    <span>Какие формы может принимать домашнее насилие?</span>
                </div>
                <div>
                    <div class="icon"></div>
                    <span>Что делать если вы в данной ситуации?</span>
                </div>
            </div>
        </div>
    </div>
</div>