<div class="hello">
    <div class="hello__container">
        <div class="hello__content">
            <div class="hello__content-left">
                <h1>Центр социальной помощи
                    жертвам бытового насилия
                    г.Кунаев</h1>
                <p>Наша миссия - предоставлять комплексную помощь и ресурсы,
                    чтобы помочь жертвам насилия восстановить свою жизнь и
                    создать здоровую и безопасную среду для себя и своих близких.</p>
                <div>
                    <a href="#">
                        <div class="icon"></div>Подать обращение
                    </a>
                    <a href="#">
                        <div class="icon"></div>Позвонить нам
                    </a>
                </div>
            </div>
            <div class="hello__content-right">
                <div class="hello__content-contact">
                    <span>Свяжитесь с нами, чтобы получить помощь или задать вопросы.</span>
                    <div>
                        <span><div class="icon"></div>Горячая линия: <a href="tel:150">150</a></span>
                        <span><div class="icon"></div>Колл-центр: <a href="tel:1307">1307</a></span>
                        <span><div class="icon"></div>Наш номер: <a href="tel:+77273916250">+7 727 391 6250</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>