<div class="news">
    <div class="news__container">
        <div class="news__content">
            <div class="news__content-title">
                <h2>Новости</h2>
                <a href="#"><div class="icon"></div>Все новости</a>
            </div>
            <div class="news__content-group">
                <div class="news__item">
                    <div class="news__thumb">
                        <img src="@img" alt="">
                    </div>
                    <div class="news__item-content">
                        <div class="news__item-title">
                            <p>Опубликовано 01.01.2024</p>
                            <h3>Орталық директорының ғылыми мақаласы</h3>
                        </div>
                        <div class="news__item-description">
                            <p>«Алматы облысының жұмыспен қамтуды үйлестіру және әлеуметтік бағдарламалар басқармасы» ММ «Тұрмыстық зорлық-зомбылық құрбандарына әлеуметтік көмек көрсету орталығы» КММ де. Қайнар академиясың, ...</p>
                        </div>
                        <div class="news__item-button">
                            <a href="#"><div class="icon"></div>Читать далее ...</a>
                        </div>
                    </div>
                </div>
                <div class="news__item">
                    <div class="news__thumb">
                        <img src="@img" alt="">
                    </div>
                    <div class="news__item-content">
                        <div class="news__item-title">
                            <p>Опубликовано 01.01.2024</p>
                            <h3>Орталық директорының ғылыми мақаласы</h3>
                        </div>
                        <div class="news__item-description">
                            <p>«Алматы облысының жұмыспен қамтуды үйлестіру және әлеуметтік бағдарламалар басқармасы» ММ «Тұрмыстық зорлық-зомбылық құрбандарына әлеуметтік көмек көрсету орталығы» КММ де. Қайнар академиясың, ...</p>
                        </div>
                        <div class="news__item-button">
                            <a href="#"><div class="icon"></div>Читать далее ...</a>
                        </div>
                    </div>
                </div>
                <div class="news__item">
                    <div class="news__thumb">
                        <img src="@img" alt="">
                    </div>
                    <div class="news__item-content">
                        <div class="news__item-title">
                            <p>Опубликовано 01.01.2024</p>
                            <h3>Орталық директорының ғылыми мақаласы</h3>
                        </div>
                        <div class="news__item-description">
                            <p>«Алматы облысының жұмыспен қамтуды үйлестіру және әлеуметтік бағдарламалар басқармасы» ММ «Тұрмыстық зорлық-зомбылық құрбандарына әлеуметтік көмек көрсету орталығы» КММ де. Қайнар академиясың, ...</p>
                        </div>
                        <div class="news__item-button">
                            <a href="#"><div class="icon"></div>Читать далее ...</a>
                        </div>
                    </div>
                </div>
                <div class="news__item">
                    <div class="news__thumb">
                        <img src="@img" alt="">
                    </div>
                    <div class="news__item-content">
                        <div class="news__item-title">
                            <p>Опубликовано 01.01.2024</p>
                            <h3>Орталық директорының ғылыми мақаласы</h3>
                        </div>
                        <div class="news__item-description">
                            <p>«Алматы облысының жұмыспен қамтуды үйлестіру және әлеуметтік бағдарламалар басқармасы» ММ «Тұрмыстық зорлық-зомбылық құрбандарына әлеуметтік көмек көрсету орталығы» КММ де. Қайнар академиясың, ...</p>
                        </div>
                        <div class="news__item-button">
                            <a href="#"><div class="icon"></div>Читать далее ...</a>
                        </div>
                    </div>
                </div>
                <div class="news__item">
                    <div class="news__thumb">
                        <img src="@img" alt="">
                    </div>
                    <div class="news__item-content">
                        <div class="news__item-title">
                            <p>Опубликовано 01.01.2024</p>
                            <h3>Орталық директорының ғылыми мақаласы</h3>
                        </div>
                        <div class="news__item-description">
                            <p>«Алматы облысының жұмыспен қамтуды үйлестіру және әлеуметтік бағдарламалар басқармасы» ММ «Тұрмыстық зорлық-зомбылық құрбандарына әлеуметтік көмек көрсету орталығы» КММ де. Қайнар академиясың, ...</p>
                        </div>
                        <div class="news__item-button">
                            <a href="#"><div class="icon"></div>Читать далее ...</a>
                        </div>
                    </div>
                </div>
                <div class="news__item">
                    <div class="news__thumb">
                        <img src="@img" alt="">
                    </div>
                    <div class="news__item-content">
                        <div class="news__item-title">
                            <p>Опубликовано 01.01.2024</p>
                            <h3>Орталық директорының ғылыми мақаласы</h3>
                        </div>
                        <div class="news__item-description">
                            <p>«Алматы облысының жұмыспен қамтуды үйлестіру және әлеуметтік бағдарламалар басқармасы» ММ «Тұрмыстық зорлық-зомбылық құрбандарына әлеуметтік көмек көрсету орталығы» КММ де. Қайнар академиясың, ...</p>
                        </div>
                        <div class="news__item-button">
                            <a href="#"><div class="icon"></div>Читать далее ...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>