<div class="parts">
    <div class="parts__container">
        <div class="parts__content">
            <a href="#" class="parts__item">
                <div class="icon"></div>
                <span>Услуги центра</span>
            </a>
            <a href="#" class="parts__item">
                <div class="icon"></div>
                <span>Полезные ресурсы</span>
            </a>
            <a href="#" class="parts__item">
                <div class="icon"></div>
                <span>FAQ</span>
            </a>
            <a href="#" class="parts__item">
                <div class="icon"></div>
                <span>Центр в цифрах</span>
            </a>
            <a href="#" class="parts__item">
                <div class="icon"></div>
                <span>Новости</span>
            </a>
            <a href="#" class="parts__item">
                <div class="icon"></div>
                <span>Полезное</span>
            </a>
        </div>
    </div>
</div>