<section class="services">
    <div class="services__container">
        <div class="services__content">
            <div class="services__content-title">
                <h2>Услуги центра</h2>
            </div>
            <div class="services__grid">
                <article class="service">
                    <div class="service__icon"></div>
                    <h3 class="service__title">Социально-бытовые</h3>
                    <button class="service__link" aria-expanded="false" aria-controls="service-1">
                        Подробнее
                        <i class="icon o--chevron-down"></i>
                    </button>
                    <div id="service-1" hidden>
                        <p>Описание социально-бытовых услуг...</p>
                    </div>
                </article>
                <article class="service">
                    <div class="service__icon"></div>
                    <h3 class="service__title">Социально-медицинские</h3>
                    <button class="service__link" aria-expanded="false" aria-controls="service-1">
                        Подробнее
                        <i class="icon o--chevron-down"></i>
                    </button>
                    <div id="service-1" hidden>
                        <p>Описание социально-бытовых услуг...</p>
                    </div>
                </article>
                <article class="service">
                    <div class="service__icon"></div>
                    <h3 class="service__title">Социально-психологические</h3>
                    <button class="service__link" aria-expanded="false" aria-controls="service-1">
                        Подробнее
                        <i class="icon o--chevron-down"></i>
                    </button>
                    <div id="service-1" hidden>
                        <p>Описание социально-бытовых услуг...</p>
                    </div>
                </article>
                <article class="service">
                    <div class="service__icon"></div>
                    <h3 class="service__title">Социально-педагогические</h3>
                    <button class="service__link" aria-expanded="false" aria-controls="service-1">
                        Подробнее
                        <i class="icon o--chevron-down"></i>
                    </button>
                    <div id="service-1" hidden>
                        <p>Описание социально-бытовых услуг...</p>
                    </div>
                </article>
                <article class="service">
                    <div class="service__icon"></div>
                    <h3 class="service__title">Социально-трудовые</h3>
                    <button class="service__link" aria-expanded="false" aria-controls="service-1">
                        Подробнее
                        <i class="icon o--chevron-down"></i>
                    </button>
                    <div id="service-1" hidden>
                        <p>Описание социально-бытовых услуг...</p>
                    </div>
                </article>
                <article class="service">
                    <div class="service__icon"></div>
                    <h3 class="service__title">Социально-культурные</h3>
                    <button class="service__link" aria-expanded="false" aria-controls="service-1">
                        Подробнее
                        <i class="icon o--chevron-down"></i>
                    </button>
                    <div id="service-1" hidden>
                        <p>Описание социально-бытовых услуг...</p>
                    </div>
                </article>
                <article class="service">
                    <div class="service__icon"></div>
                    <h3 class="service__title">Социально-экономические</h3>
                    <button class="service__link" aria-expanded="false" aria-controls="service-1">
                        Подробнее
                        <i class="icon o--chevron-down"></i>
                    </button>
                    <div id="service-1" hidden>
                        <p>Описание социально-бытовых услуг...</p>
                    </div>
                </article>
                <article class="service">
                    <div class="service__icon"></div>
                    <h3 class="service__title">Социально-правовые</h3>
                    <button class="service__link" aria-expanded="false" aria-controls="service-1">
                        Подробнее
                        <i class="icon o--chevron-down"></i>
                    </button>
                    <div id="service-1" hidden>
                        <p>Описание социально-бытовых услуг...</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>