<div class="services">
    <div class="services__container">
        <div class="services__content">
            <div class="services__content-title">
                <h2>Услуги центра</h2>
            </div>
            <div class="services__content-group">
                <div>
                    <div class="icon"></div>
                    <span>Социально-бытовые</span>
                    <a href="#">Подробнее<div class="icon"></div></a>
                </div>
                <div>
                    <div class="icon"></div>
                    <span>Социально-медицинские</span>
                    <a href="#">Подробнее<div class="icon"></div></a>
                </div>
                <div>
                    <div class="icon"></div>
                    <span>Социально-психологические</span>
                    <a href="#">Подробнее<div class="icon"></div></a>
                </div>
                <div>
                    <div class="icon"></div>
                    <span>Социально-педагогические</span>
                    <a href="#">Подробнее<div class="icon"></div></a>
                </div>
                <div>
                    <div class="icon"></div>
                    <span>Социально-трудовые</span>
                    <a href="#">Подробнее<div class="icon"></div></a>
                </div>
                <div>
                    <div class="icon"></div>
                    <span>Социально-культурные</span>
                    <a href="#">Подробнее<div class="icon"></div></a>
                </div>
                <div>
                    <div class="icon"></div>
                    <span>Социально-экономические</span>
                    <a href="#">Подробнее<div class="icon"></div></a>
                </div>
                <div>
                    <div class="icon"></div>
                    <span>Социально-правовые</span>
                    <a href="#">Подробнее<div class="icon"></div></a>
                </div>
            </div>
        </div>
    </div>
</div>