<div class="stats">
    <div class="stats__container">
        <div class="stats__content">
            <div class="stats__content-title">
                <h2>Центр в цифрах</h2>
            </div>
            <div class="stats__content-group">
                <div>
                    <div class="stats__group-var">
                        <div class="icon"></div>
                        <h3>50</h3>
                    </div>
                    <span>Спальных мест</span>
                </div>
                <div>
                    <div class="stats__group-var">
                        <div class="icon"></div>
                        <h3>23</h3>
                    </div>
                    <span>Кабинета</span>
                </div>
                <div>
                    <div class="stats__group-var">
                        <div class="icon"></div>
                        <h3>518 кв.м.</h3>
                    </div>
                    <span>Общая площадь<br>центра</span>
                </div>
                <div>
                    <div class="stats__group-var">
                        <div class="icon"></div>
                        <h3>20+</h3>
                    </div>
                    <span>Квалифицированных<br>сотрудников</span>
                </div>
            </div>
        </div>
    </div>
</div>