@use "sass:math";

@import "./base/mixins";

$fontFamily:  Inter;
$fontStyle:   "normal";
$fontFormat:  "woff", "woff2";
$fontSize: 	  rem(16);
$fontColor: #121212;

$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1118;
$containerPadding: 80;

@import "./base/null";
@import "./base/icons";


html, body {
    height: 100%;
    width: 100%;
}

.wrapper {
    font-family: "Inter", sans-serif;
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    /* Прижимаем footer */
    > main {
        flex: 1 1 auto;
        display: flex;
        width: 100%;
        flex-direction: column;
    }
}

[class*="__container"] {
    @if ($maxWidthContainer>0) {
        max-width: rem($maxWidthContainer);
        box-sizing: content-box;
        margin: 0 auto;
    }
    @if ($containerPadding>0) {
        padding: 0 rem(math.div($containerPadding, 2));
    }
}

@import "./tailwind";

@import "./components";

@import "./home";
