<div class="news-list">
  <div class="news-list__container">
    <div class="news-list__content">
      <div class="news-list__content-top">
        <div class="news-list__card">
          <div class="news-list__card-slider">
            <div class="news-list__swiper swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="./img/news-preview-2.png" loading="lazy" />
                  <div class="swiper-lazy-preloader"></div>
                </div>
                <div class="swiper-slide">
                  <img src="https://picsum.photos/326" loading="lazy" />
                  <div class="swiper-lazy-preloader"></div>
                </div>
                <div class="swiper-slide">
                  <img src="./img/news-preview.png" loading="lazy" />
                  <div class="swiper-lazy-preloader"></div>
                </div>
              </div>
              <div class="news-list__swiper-pagination"></div>
            </div>
          </div>
          <div class="news-list__card-text">
            <div>
              <span>Опубликовано 01.01.2024</span>
              <h3>Культ-массовый выезд</h3>
            </div>
            <p>КГУ "Центр социальной помощи жертвам бытового насилия" ГУ "Управление координации занятости и социальных
              программ Алматинской области". В сопровождении медсестры Мукажановой Г.Х, специалиста по социальной работе
              Кадыровой А.У и культорганизатора Литяйкиной А. А дети нашего центра посетили зоопарк и дельфинарий города
              Алматы. Цели: сформировать представления о животных разных природных зон; познакомиться с условиями их
              жизни в разные времена года, с правилами поведения в зоопарке; развивать познавательный интерес;
              воспитывать любовь к животным. Посещения дельфинарий-снимаются возбуждение и стресс; гиперактивные,
              легковозбудимые дети становятся спокойнее; повышается самооценка; улучшается восприимчивость, ребенок
              становится внимательнее, лучше концентрируется.</p>
          </div>
        </div>
      </div>
      <div class="news-list__content-bottom">
        <button>Предыдующая новость</button>
        <button>Следующая новость</button>
      </div>
    </div>
  </div>
</div>