<section class="news-list">
    <div class="news-list__container">
        <div class="news-list__content">
            <div class="news-list__content-list">
                <article class="news-list__item">
                    <div class="news-list__item-thumb">
                        <img src="./img/news-thumb.png" alt="">
                    </div>
                    <div class="news-list__item-info">
                        <div>
                            <span>Опубликовано 01.01.2024</span>
                            <h3>Орталық директорының ғылыми мақаласы</h3>
                        </div>
                        <p>«Алматы облысының жұмыспен қамтуды үйлестіру және әлеуметтік бағдарламалар басқармасы» ММ «Тұрмыстық зорлық-зомбылық құрбандарына әлеуметтік көмек көрсету орталығы» КММ де. Қайнар академиясың, Қайнар академиясың, Қайнар академиясың,</p>
                        <a href="./news-item.html"><span class="icon"></span>Читать далее ...</a>
                    </div>
                </article>
                <article class="news-list__item">
                    <div class="news-list__item-thumb">
                        <img src="./img/news-thumb.png" alt="">
                    </div>
                    <div class="news-list__item-info">
                        <div>
                            <span>Опубликовано 01.01.2024</span>
                            <h3>Орталық директорының ғылыми мақаласы</h3>
                        </div>
                        <p>«Алматы облысының жұмыспен қамтуды үйлестіру және әлеуметтік бағдарламалар басқармасы» ММ «Тұрмыстық зорлық-зомбылық құрбандарына әлеуметтік көмек көрсету орталығы» КММ де. Қайнар академиясың, Қайнар академиясың, Қайнар академиясың,</p>
                        <a href="#"><span class="icon"></span>Читать далее ...</a>
                    </div>
                </article>
                <article class="news-list__item">
                    <div class="news-list__item-thumb">
                        <img src="./img/news-thumb.png" alt="">
                    </div>
                    <div class="news-list__item-info">
                        <div>
                            <span>Опубликовано 01.01.2024</span>
                            <h3>Орталық директорының ғылыми мақаласы</h3>
                        </div>
                        <p>«Алматы облысының жұмыспен қамтуды үйлестіру және әлеуметтік бағдарламалар басқармасы» ММ «Тұрмыстық зорлық-зомбылық құрбандарына әлеуметтік көмек көрсету орталығы» КММ де. Қайнар академиясың, Қайнар академиясың, Қайнар академиясың,</p>
                        <a href="#"><span class="icon"></span>Читать далее ...</a>
                    </div>
                </article>
                <article class="news-list__item">
                    <div class="news-list__item-thumb">
                        <img src="./img/news-thumb.png" alt="">
                    </div>
                    <div class="news-list__item-info">
                        <div>
                            <span>Опубликовано 01.01.2024</span>
                            <h3>Орталық директорының ғылыми мақаласы</h3>
                        </div>
                        <p>«Алматы облысының жұмыспен қамтуды үйлестіру және әлеуметтік бағдарламалар басқармасы» ММ «Тұрмыстық зорлық-зомбылық құрбандарына әлеуметтік көмек көрсету орталығы» КММ де. Қайнар академиясың, Қайнар академиясың, Қайнар академиясың,</p>
                        <a href="#"><span class="icon"></span>Читать далее ...</a>
                    </div>
                </article>
                <article class="news-list__item">
                    <div class="news-list__item-thumb">
                        <img src="./img/news-thumb.png" alt="">
                    </div>
                    <div class="news-list__item-info">
                        <div>
                            <span>Опубликовано 01.01.2024</span>
                            <h3>Орталық директорының ғылыми мақаласы</h3>
                        </div>
                        <p>«Алматы облысының жұмыспен қамтуды үйлестіру және әлеуметтік бағдарламалар басқармасы» ММ «Тұрмыстық зорлық-зомбылық құрбандарына әлеуметтік көмек көрсету орталығы» КММ де. Қайнар академиясың, Қайнар академиясың, Қайнар академиясың,</p>
                        <a href="#"><span class="icon"></span>Читать далее ...</a>
                    </div>
                </article>
                <article class="news-list__item">
                    <div class="news-list__item-thumb">
                        <img src="./img/news-thumb.png" alt="">
                    </div>
                    <div class="news-list__item-info">
                        <div>
                            <span>Опубликовано 01.01.2024</span>
                            <h3>Орталық директорының ғылыми мақаласы</h3>
                        </div>
                        <p>«Алматы облысының жұмыспен қамтуды үйлестіру және әлеуметтік бағдарламалар басқармасы» ММ «Тұрмыстық зорлық-зомбылық құрбандарына әлеуметтік көмек көрсету орталығы» КММ де. Қайнар академиясың, Қайнар академиясың, Қайнар академиясың,</p>
                        <a href="#"><span class="icon"></span>Читать далее ...</a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>